 .note-1{
  background-color: #F9E4F6;
	border: 5px solid #3C644B; 
  text-align: center;
  width: 90vw;
  padding: 10px;
}

.note-2{
  background-color: white;
	border: 5px solid pink; 
  text-align: center;
  width: 90vw;
  padding: 10px;
}

.box-text{
  font-size: 1.5rem;
}

.container {
  max-width: 90%;
  display: flex;
  flex-wrap: wrap;
  padding-left: 9vw;
}

.intro-box{
  background-color: white;
  border: 5px solid pink; 
  padding: 80px;
  font-size: 1.5rem;
  flex: 0 0 40%;
}

.about-greeting{
  font-size: 3.5rem;
  font-weight: 800;
}

.about-signature{
  font-size: 3.5rem;
  font-weight: 800;
  text-align: right; 
}

.intro-imgs{
  flex: 0 0 60%;
  object-fit: cover;
  padding-left: 10rem;
}

.img-fluid{
  max-height: 55vh;
  padding: 1rem;
}

.image-item img, img{
  border-radius: 25px;
}

/* For Tablet */
@media screen and (max-device-width: 1367px){
  .container, .intro-imgs{
    padding: 0;
  }
  .intro-box, .intro-imgs{
    flex-basis: 100%;
  }

  .intro-imgs{
    display: flex;
  }

  .intro-imgs img{
    margin-top: 3rem;
    padding: 1rem;
  }
}
 
/* For Mobile */
@media screen and (max-device-width: 750px) {
  .box-text, .intro-box{
    font-size: 2rem;
  }
}
