.form-header{
	text-align: center; 
	font-weight: bold;
  	font-size: calc(2vh + 1.5vw);
}

.form-contact-border{
	border: 5px solid #5B8169; 
}


.contact-form{
	background-color: #F9E4F6; 
}

.form-label{
  font-size: calc(0.5vw + 2vh);
}

.form-control{
  font-size: calc(0.5vw + 1vh);
}

.btn-submit{
	width: 80%;
	color: white;
	background-color: #ADD8E6;
  	font-size: calc(0.7vw + 1.2vh);
}

.flash-msg{
	text-align: center; 
	transition: opacity 0.5s ease-out; 
	opacity: 1;
}

/* For Desktop */
 @media screen and (min-device-width: 1367px){

}

/* For Tablet */
@media screen and (min-device-width: 750px) and (max-device-width: 1367px){

}
 
/* For Mobile */
@media screen and (max-device-width: 750px) {
	.form-header{
		font-size: 3.5vh;
	}
	.form-label{
		font-size: 3vh;
	}
	.form-control{
		font-size: calc(0.5vw + 1.2vh);
	}
}
