/* Container for flexboxes */
.image-gallery {
	display: flex;
	flex-wrap: wrap;
	gap: 10px;
}

.img-content {
	position: absolute;
	top: 50%; right: 50%;
	transform: translate(50%,-50%);
	color: white;
	opacity: 0;
	text-align: center;
}

.image-item:hover img{
	opacity: 0.5;
}

.image-item:hover .img-content{
	opacity: 1;
}

/* For Desktop */
@media screen and (min-device-width: 1367px){
	.column {
		flex: 24%;
	}
}

/* For Tablet */
@media screen and (min-device-width: 750px) and (max-device-width: 1367px){
	.column {
		flex: 49%;
	}

	.title{
		font-size: 4vw;
	}

	.location, .photographer{
		font-size: 2vw;
	}
}
 
/* For Mobile */
@media screen and (max-device-width: 750px) {
	.row {
		flex-direction: column;
	}
	.title{
		font-size: 4vh;
	}

	.location, .photographer{
		font-size: 1.5vh;
	}
}
