.row-media{
	margin-left: 10vw; 
	margin-right: 10vw
}

.video{
  min-height: 300px;
  height: 35vh;
}

.box-coming-soon{
  background-color: white;
	border: 5px solid pink; 
	font-size: calc(0.8vw + 0.8vh);
  text-align: center;
  width: 20%;
}

/* For Desktop */
@media screen and (min-device-width: 1367px){

}

/* For Tablet */
@media screen and (min-device-width: 750px) and (max-device-width: 1367px){
  .box-coming-soon{
    width: 30%;
  }
}
 
/* For Mobile */
@media screen and (max-device-width: 750px) {
  .box-coming-soon{
    font-size: 1.5vh;
    width: 50%;
  }
}