
.download-text:hover{
	background-color: white;
}

.download-text{
	border-color: white; 
	color: black; 
	border-style: solid; 
	text-decoration: none;
	border-width: 3px; 
	padding: 20px; 
	font-size: 20px;
	margin-top: 30px;
}

[class*="col-"] {
    text-align: center;
}

/* For Desktop */
@media screen and (min-device-width: 1367px){

}

/* For Tablet */
@media screen and (min-device-width: 750px) and (max-device-width: 1367px){

}
 
/* For Mobile */
@media screen and (max-device-width: 750px) {
	.download-text{
    font-size: 30px;
  }
}
 

