{% extends "navbar.html" %}

{% block content %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/gallery.css')}}">

    <div class="top-margin bottom-margin ms-5 me-5">
        <div class="row g-0 h-100">
            <!-- COLUMN  1 -->
            <div class="col-md-6 col-lg-4 col-xl-3">
                <div class="d-flex flex-column justify-content-start">
                    <div class="photo hidden" data-animation-direction="up">
                        <img class="img-fluid gallery-img" src="../static/gallery_photos/Plano 4.jpg">
                        <div class="img-content">
                            <h1 class="gallery-photo-title" style="text-align:center;">Plano</h1>
                            <p class="location" style="text-align:center;">Wagner College</p>
                            <p class="photographer" style="text-align:center;">Photo by Dillon Burke</p>
                        </div>
                    </div>

                    <div class="photo hidden" data-animation-direction="up">
                        <img class="img-fluid gallery-img" src="../static/gallery_photos/Plano 1.jpg">
                        <div class="img-content">
                            <h1 class="gallery-photo-title" style="text-align:center;">Plano</h1>
                            <p class="location" style="text-align:center;">Wagner College</p>
                            <p class="photographer" style="text-align:center;">Photo by Dillon Burke</p>
                        </div>
                    </div>

                    <div class="photo hidden" data-animation-direction="up">
                        <img class="img-fluid gallery-img" src="../static/gallery_photos/PIPPIN 2.jpg">
                        <div class="img-content">
                            <h1 class="gallery-photo-title" style="text-align:center;">Pippin</h1>
                            <p class="location" style="text-align:center;">Wagner College</p>
                            <p class="photographer" style="text-align:center;">Photo by Dillon Burke</p>
                        </div>
                    </div>

                    <div class="photo hidden" data-animation-direction="up">
                        <img class="img-fluid gallery-img" src="../static/gallery_photos/DANCE 1.jpg">
                        <div class="img-content">
                            <h1 style="text-align:center;">Dance Concert 2021</h1>
                            <p class="location" style="text-align:center;">Wagner College</p>
                            <p class="photographer" style="text-align:center;">Photo by Karen O'Donnell</p>
                        </div>
                    </div>

                    <div class="photo hidden" data-animation-direction="up">
                        <img class="img-fluid gallery-img" src="../static/gallery_photos/GOBLIN 2.jpg">
                        <div class="img-content">
                            <h1 class="gallery-photo-title" style="text-align:center;">Goblin Market</h1>
                            <p class="location" style="text-align:center;">Wagner College</p>
                            <p class="photographer" style="text-align:center;">Photo by Dillon Burke</p>
                        </div>
                    </div>

                    <div class="photo hidden" data-animation-direction="up">
                        <img class="img-fluid gallery-img" src="../static/gallery_photos/mamg.jpg">
                        <div class="img-content">
                            <h1 class="gallery-photo-title" style="text-align:center;">Me and My Girl</h1>
                            <p class="location" style="text-align:center;">Wagner College</p>
                            <p class="photographer" style="text-align:center;">Photo by Dillon Burke</p>
                        </div>
                    </div>
                </div>
            </div>

            <!-- COLUMN  2 -->
            <div class="col-md-6 col-lg-4 col-xl-3">
                <div class="d-flex flex-column justify-content-start">
                    <div class="photo hidden" data-animation-direction="up">
                        <img class="img-fluid gallery-img" src="../static/gallery_photos/GOBLIN 4.jpg">
                        <div class="img-content">
                            <h1 class="gallery-photo-title" style="text-align:center;">Goblin Market</h1>
                            <p class="location" style="text-align:center;">Wagner College</p>
                            <p class="photographer" style="text-align:center;">Photo by Dillon Burke</p>
                        </div>
                    </div>

                    <div class="photo hidden" data-animation-direction="up">
                        <img class="img-fluid gallery-img" src="../static/gallery_photos/IMG_3102.jpg">
                        <div class="img-content">
                            <h1 class="gallery-photo-title" style="text-align:center;">Me and My Girl</h1>
                            <p class="photographer" class="location" style="text-align:center;">Wagner College</p>
                        </div>
                    </div>

                    <div class="photo hidden" data-animation-direction="up">
                        <img class="img-fluid gallery-img" src="../static/gallery_photos/Plano 5.jpg">
                        <div class="img-content">
                            <h1 class="gallery-photo-title" style="text-align:center;">Plano</h1>
                            <p class="location" style="text-align:center;">Wagner College</p>
                            <p class="photographer" style="text-align:center;">Photo by Dillon Burke</p>
                        </div>
                    </div>

                    <div class="photo hidden" data-animation-direction="up">
                        <img class="img-fluid gallery-img" src="../static/gallery_photos/Me and my girl 1.jpg">
                        <div class="img-content">
                            <h1 class="gallery-photo-title" style="text-align:center;">Me and My Girl</h1>
                            <p class="location" style="text-align:center;">Wagner College</p>
                            <p class="photographer" style="text-align:center;">Photo by Dillon Burke</p>
                        </div>
                    </div>

                    <div class="photo hidden" data-animation-direction="up">
                        <img class="img-fluid gallery-img" src="../static/gallery_photos/Woz 2.jpg">
                        <div class="img-content">
                            <h1 class="gallery-photo-title" style="text-align:center;">The Wizard of Oz</h1>
                            <p class="location" style="text-align:center;">Wagner College</p>
                            <p class="photographer" style="text-align:center;">Photo by Ella Martin</p>
                        </div>
                    </div>

                    <div class="photo hidden" data-animation-direction="up">
                        <img class="img-fluid gallery-img" src="../static/gallery_photos/plano.jpg">
                        <div class="img-content">
                            <h1 class="gallery-photo-title" style="text-align:center;">Plano</h1>
                            <p class="location" style="text-align:center;">Wagner College</p>
                            <p class="photographer" style="text-align:center;">Photo by Dillon Burke</p>
                        </div>
                    </div>
                </div>
            </div>

            <!-- COLUMN  3 -->
            <div class="col-md-6 col-lg-4 col-xl-3">
                <div class="d-flex flex-column justify-content-start">
                    <div class="photo hidden" data-animation-direction="up">
                        <img class="img-fluid gallery-img" src="../static/gallery_photos/PIPPIN 4.jpg">
                        <div class="img-content">
                            <h1 class="gallery-photo-title" style="text-align:center;">Pippin</h1>
                            <p class="location" style="text-align:center;">Wagner College</p>
                            <p class="photographer" style="text-align:center;">Photo by Dillon Burke</p>
                        </div>
                    </div>

                    <div class="photo hidden" data-animation-direction="up">
                        <img class="img-fluid gallery-img" src="../static/gallery_photos/IMG_8335.jpg">
                        <div class="img-content">
                            <h1 class="gallery-photo-title" style="text-align:center;">Goblin Market</h1>
                            <p class="location" style="text-align:center;">Wagner College</p>
                            <p class="photographer" style="text-align:center;">Photo by Dillon Burke</p>
                        </div>
                    </div>

                    <div class="photo hidden" data-animation-direction="up">
                        <img class="img-fluid gallery-img" src="../static/gallery_photos/Plano 2.jpg">
                        <div class="img-content">
                            <h1 class="gallery-photo-title" style="text-align:center;">Plano</h1>
                            <p class="location" style="text-align:center;">Wagner College</p>
                            <p class="photographer" style="text-align:center;">Photo by Dillon Burke</p>
                        </div>
                    </div>

                    <div class="photo hidden" data-animation-direction="up">
                        <img class="img-fluid gallery-img" src="../static/gallery_photos/MAMG 3.jpg">
                        <div class="img-content">
                            <h1 class="gallery-photo-title" style="text-align:center;">Me and My Girl</h1>
                            <p class="location" style="text-align:center;">Wagner College</p>
                            <p class="photographer" style="text-align:center;">Photo by Dillon Burke</p>
                        </div>
                    </div>

                    <div class="photo hidden" data-animation-direction="up">
                        <img class="img-fluid gallery-img" src="../static/gallery_photos/PIPPIN 3.jpg">
                        <div class="img-content">
                            <h1 class="gallery-photo-title" style="text-align:center;">Pippin</h1>
                            <p class="location" style="text-align:center;">Wagner College</p>
                            <p class="photographer" style="text-align:center;">Photo by Dillon Burke</p>
                        </div>
                    </div>
                </div>
            </div>

            <!-- COLUMN  4 -->
            <div class="col-md-6 col-lg-4 col-xl-3">
                <div class="d-flex flex-column justify-content-start">
                    <div class="photo hidden" data-animation-direction="up">
                        <img class="img-fluid gallery-img" src="../static/gallery_photos/Plano 3.jpg">
                        <div class="img-content">
                            <h1 class="gallery-photo-title" style="text-align:center;">Plano</h1>
                            <p class="location" style="text-align:center;">Wagner College</p>
                            <p class="photographer" style="text-align:center;">Photo by Dillon Burke</p>
                        </div>
                    </div>

                    <div class="photo hidden" data-animation-direction="up">
                        <img class="img-fluid gallery-img" src="../static/gallery_photos/PROM 1.jpg">
                        <div class="img-content">
                            <h1 class="gallery-photo-title" style="text-align:center;">The Prom</h1>
                            <p class="location" style="text-align:center;">Wagner College</p>
                            <p class="photographer" style="text-align:center;">Photo by Dillon Burke</p>
                        </div>
                    </div>

                    <div class="photo hidden" data-animation-direction="up">
                        <img class="img-fluid gallery-img" src="../static/gallery_photos/PIPPIN 1.jpg">
                        <div class="img-content">
                            <h1 class="gallery-photo-title" style="text-align:center;">Pippin</h1>
                            <p class="location" style="text-align:center;">Wagner College</p>
                            <p class="photographer" style="text-align:center;">Photo by Dillon Burke</p>
                        </div>
                    </div>

                    <div class="photo hidden" data-animation-direction="up">
                        <img class="img-fluid gallery-img" src="../static/gallery_photos/WOZ 1.jpg">
                        <div class="img-content">
                            <h1 class="gallery-photo-title" style="text-align:center;">The Wizard of Oz</h1>
                            <p class="location" style="text-align:center;">Wagner College</p>
                            <p class="photographer" style="text-align:center;">Photo by Ella Martin</p>
                        </div>
                    </div>

                    <div class="photo hidden" data-animation-direction="up">
                        <img class="img-fluid gallery-img" src="../static/gallery_photos/DANCE 2.jpg">
                        <div class="img-content">
                            <h1 class="gallery-photo-title" style="text-align:center;">Morso D'Amore</h1>
                            <p class="location" style="text-align:center;">Wagner College</p>
                            <p class="photographer" style="text-align:center;">Choreographed by Caterina Rago</p>
                            <p class="photographer" style="text-align:center;">Photo by Dillon Burke</p>
                        </div>
                    </div>

                    <div class="photo hidden" data-animation-direction="up">
                        <img class="img-fluid gallery-img" src="../static/gallery_photos/MAMG 2.jpg">
                        <div class="img-content">
                            <h1 class="gallery-photo-title" style="text-align:center;">Me and My Girl</h1>
                            <p class="location" style="text-align:center;">Wagner College</p>
                            <p class="photographer" style="text-align:center;">Photo by Dillon Burke</p>
                        </div>
                    </div>

                    <div class="photo hidden" data-animation-direction="up">
                        <img class="img-fluid gallery-img" src="../static/gallery_photos/GOBLIN 3.jpg">
                        <div class="img-content">
                            <h1 class="gallery-photo-title" tyle="text-align:center;">Goblin Market</h1>
                            <p class="location" style="text-align:center;">Wagner College</p>
                            <p class="photographer" style="text-align:center;">Photo by Dillon Burke</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

	<script>
		document.addEventListener("DOMContentLoaded", function() {
			var container = document.querySelector('.col-md-6.col-lg-4.col-xl-3 .d-flex.flex-column.justify-content-start');
			var photos = container.querySelectorAll('.photo');
		
			// Get the height of the last photo
			var lastPhotoHeight = photos[photos.length - 1].offsetHeight;
		
			// Set the height of the container to match the last photo
			container.style.height = lastPhotoHeight + "px";
		});

		window.onload = function() {
			setTimeout(function() {
				let observerOptions = {
					rootMargin: '0px 0px 250px 0px', // Increase bottom margin to avoid overlapping with footer
					threshold: 0.8
				};
				
				function observerCallback(entries, observer) {
					entries.forEach(entry => {
						if(entry.isIntersecting) {
							let direction = entry.target.dataset.animationDirection;
							let animationClass = `animate-${direction}`;
							entry.target.classList.add(animationClass);
							observer.unobserve(entry.target);
						}
					});
				};
		
				let observer = new IntersectionObserver(observerCallback, observerOptions);
				
				let target = '.hidden';
				document.querySelectorAll(target).forEach((i) => {
					observer.observe(i);
				});
			}, 100);
		};
		
	</script>

{% endblock content %}