{% extends "navbar.html" %}

{% block content %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/gallery.css')}}">
    <script src="{{ url_for('static', filename='javascript/gallery.js') }}"></script>

    <div class="top-margin bottom-margin ms-5 me-5">
        <div class="image-gallery">
            <!-- COLUMN 1 -->
            <div class="column">
                <div class="image-item hidden" data-animation-direction="up">
                    <img src="../static/gallery_photos/Plano 4.jpg"/>

                    <div class="img-content">
                    <h1 class="title">Plano</h1>
                    <p class="location">Wagner College</p>
                    <p class="photographer">Photo by Dillon Burke</p>
                    </div>
                </div>

                <div class="image-item hidden" data-animation-direction="up">
                    <img src="../static/gallery_photos/Plano 1.jpg"/>

                    <div class="img-content">
                    <h1 class="title">Plano</h1>
                    <p class="location">Wagner College</p>
                    <p class="photographer">Photo by Dillon Burke</p>
                    </div>
                </div>

                <div class="image-item hidden" data-animation-direction="up">
                    <img src="../static/gallery_photos/PIPPIN 2.jpg"/>

                    <div class="img-content">
                    <h1 class="title">Plano</h1>
                    <p class="location">Wagner College</p>
                    <p class="photographer">Photo by Dillon Burke</p>
                    </div>
                </div>

                <div class="image-item hidden" data-animation-direction="up">
                    <img src="../static/gallery_photos/DANCE 2.jpg"/>

                    <div class="img-content">
                    <h1 class="title">Plano</h1>
                    <p class="location">Wagner College</p>
                    <p class="photographer">Photo by Dillon Burke</p>
                    </div>
                </div>

                <div class="image-item hidden" data-animation-direction="up">
                    <img src="../static/gallery_photos/mamg.jpg"/>

                    <div class="img-content">
                    <h1 class="title">Plano</h1>
                    <p class="location">Wagner College</p>
                    <p class="photographer">Photo by Dillon Burke</p>
                    </div>
                </div>

                <div class="image-item hidden" data-animation-direction="up">
                    <img src="../static/gallery_photos/PIPPIN 1.jpg"/>

                    <div class="img-content">
                    <h1 class="title">Plano</h1>
                    <p class="location">Wagner College</p>
                    <p class="photographer">Photo by Dillon Burke</p>
                    </div>
                </div>
            </div>

            <!-- COLUMN 2 -->
            <div class="column">
                <div class="image-item hidden" data-animation-direction="up">
                    <img src="../static/gallery_photos/GOBLIN 4.jpg"/>

                    <div class="img-content">
                    <h1 class="title">Plano</h1>
                    <p class="location">Wagner College</p>
                    <p class="photographer">Photo by Dillon Burke</p>
                    </div>
                </div>

                <div class="image-item hidden" data-animation-direction="up">
                    <img src="../static/gallery_photos/IMG_3102.jpg"/>

                    <div class="img-content">
                    <h1 class="title">Plano</h1>
                    <p class="location">Wagner College</p>
                    <p class="photographer">Photo by Dillon Burke</p>
                    </div>
                </div>

                <div class="image-item hidden" data-animation-direction="up">
                    <img src="../static/gallery_photos/Plano 5.jpg"/>

                    <div class="img-content">
                    <h1 class="title">Plano</h1>
                    <p class="location">Wagner College</p>
                    <p class="photographer">Photo by Dillon Burke</p>
                    </div>
                </div>

                <div class="image-item hidden" data-animation-direction="up">
                    <img src="../static/gallery_photos/Woz 2.jpg"/>

                    <div class="img-content">
                    <h1 class="title">Plano</h1>
                    <p class="location">Wagner College</p>
                    <p class="photographer">Photo by Dillon Burke</p>
                    </div>
                </div>

                <div class="image-item hidden" data-animation-direction="up">
                    <img src="../static/gallery_photos/plano.jpg"/>

                    <div class="img-content">
                    <h1 class="title">Plano</h1>
                    <p class="location">Wagner College</p>
                    <p class="photographer">Photo by Dillon Burke</p>
                    </div>
                </div>

                <div class="image-item hidden" data-animation-direction="up">
                    <img src="../static/gallery_photos/GOBLIN 2.jpg"/>

                    <div class="img-content">
                    <h1 class="title">Plano</h1>
                    <p class="location">Wagner College</p>
                    <p class="photographer">Photo by Dillon Burke</p>
                    </div>
                </div>
            </div>

            <!-- COLUMN 3 -->
            <div class="column">
                <div class="image-item hidden" data-animation-direction="up">
                    <img src="../static/gallery_photos/PIPPIN 4.jpg"/>

                    <div class="img-content">
                    <h1 class="title">Plano</h1>
                    <p class="location">Wagner College</p>
                    <p class="photographer">Photo by Dillon Burke</p>
                    </div>
                </div>

                <div class="image-item hidden" data-animation-direction="up">
                    <img src="../static/gallery_photos/Me and my girl 1.jpg"/>

                    <div class="img-content">
                    <h1 class="title">Plano</h1>
                    <p class="location">Wagner College</p>
                    <p class="photographer">Photo by Dillon Burke</p>
                    </div>
                </div>

                <div class="image-item hidden" data-animation-direction="up">
                    <img src="../static/gallery_photos/IMG_8335.jpg"/>

                    <div class="img-content">
                    <h1 class="title">Plano</h1>
                    <p class="location">Wagner College</p>
                    <p class="photographer">Photo by Dillon Burke</p>
                    </div>
                </div>

                <div class="image-item hidden" data-animation-direction="up">
                    <img src="../static/gallery_photos/Plano 2.jpg"/>

                    <div class="img-content">
                    <h1 class="title">Plano</h1>
                    <p class="location">Wagner College</p>
                    <p class="photographer">Photo by Dillon Burke</p>
                    </div>
                </div>

                <div class="image-item hidden" data-animation-direction="up">
                    <img src="../static/gallery_photos/DANCE 1.jpg"/>

                    <div class="img-content">
                    <h1 class="title">Plano</h1>
                    <p class="location">Wagner College</p>
                    <p class="photographer">Photo by Dillon Burke</p>
                    </div>
                </div>

                <div class="image-item hidden" data-animation-direction="up">
                    <img src="../static/gallery_photos/GOBLIN 1.jpg"/>

                    <div class="img-content">
                    <h1 class="title" >Plano</h1>
                    <p class="location" >Wagner College</p>
                    <p class="photographer" >Photo by Dillon Burke</p>
                    </div>
                </div>
            </div>

            <!-- COLUMN 4 -->
            <div class="column">
                <div class="image-item hidden" data-animation-direction="up">
                    <img src="../static/gallery_photos/Plano 3.jpg"/>

                    <div class="img-content">
                    <h1 class="title">Plano</h1>
                    <p class="location">Wagner College</p>
                    <p class="photographer">Photo by Dillon Burke</p>
                    </div>
                </div>

                <div class="image-item hidden" data-animation-direction="up">
                    <img src="../static/gallery_photos/PROM 1.jpg"/>

                    <div class="img-content">
                    <h1 class="title">Plano</h1>
                    <p class="location">Wagner College</p>
                    <p class="photographer">Photo by Dillon Burke</p>
                    </div>
                </div>

                <div class="image-item hidden" data-animation-direction="up">
                    <img src="../static/gallery_photos/PIPPIN 3.jpg"/>

                    <div class="img-content">
                    <h1 class="title">Plano</h1>
                    <p class="location">Wagner College</p>
                    <p class="photographer">Photo by Dillon Burke</p>
                    </div>
                </div>

                <div class="image-item hidden" data-animation-direction="up">
                    <img src="../static/gallery_photos/GOBLIN 3.jpg"/>

                    <div class="img-content">
                    <h1 class="title">Plano</h1>
                    <p class="location">Wagner College</p>
                    <p class="photographer">Photo by Dillon Burke</p>
                    </div>
                </div>

                <div class="image-item hidden" data-animation-direction="up">
                    <img src="../static/gallery_photos/MAMG 3.jpg"/>

                    <div class="img-content">
                    <h1 class="title">Plano</h1>
                    <p class="location">Wagner College</p>
                    <p class="photographer">Photo by Dillon Burke</p>
                    </div>
                </div>

                <div class="image-item hidden" data-animation-direction="up">
                    <img src="../static/gallery_photos/MAMG 2.jpg"/>

                    <div class="img-content">
                    <h1 class="title">Plano</h1>
                    <p class="location">Wagner College</p>
                    <p class="photographer">Photo by Dillon Burke</p>
                    </div>
                </div>

                <div class="image-item hidden" data-animation-direction="up">
                    <img src="../static/gallery_photos/WOZ 1.jpg"/>

                    <div class="img-content">
                    <h1 class="title">Plano</h1>
                    <p class="location">Wagner College</p>
                    <p class="photographer">Photo by Dillon Burke</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}