{% extends "navbar.html" %}

{% block content %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/gallery.css')}}">

    <div class="top-margin bottom-margin ms-5 me-5">
        <div class="image-gallery">
            <!-- COLUMN 1 -->
            <div class="column">
                <div class="image-item hidden" data-animation-direction="up">
                    <img src="../static/gallery_photos/Plano 4.jpg"/>

                    <div class="img-content">
                        <h1 class="gallery-photo-title" style="text-align:center;">Plano</h1>
                        <p class="location" style="text-align:center;">Wagner College</p>
                        <p class="photographer" style="text-align:center;">Photo by Dillon Burke</p>
                    </div>
                </div>

                <div class="image-item hidden" data-animation-direction="up">
                    <img src="../static/gallery_photos/Plano 1.jpg"/>

                    <div class="img-content">
                        <h1 class="gallery-photo-title" style="text-align:center;">Plano</h1>
                        <p class="location" style="text-align:center;">Wagner College</p>
                        <p class="photographer" style="text-align:center;">Photo by Dillon Burke</p>
                    </div>
                </div>

                <div class="image-item hidden" data-animation-direction="up">
                    <img src="../static/gallery_photos/GOBLIN 2.jpg"/>

                    <div class="img-content">
                        <h1 class="gallery-photo-title" style="text-align:center;">Plano</h1>
                        <p class="location" style="text-align:center;">Wagner College</p>
                        <p class="photographer" style="text-align:center;">Photo by Dillon Burke</p>
                    </div>
                </div>

                <div class="image-item hidden" data-animation-direction="up">
                    <img src="../static/gallery_photos/mamg.jpg"/>

                    <div class="img-content">
                        <h1 class="gallery-photo-title" style="text-align:center;">Plano</h1>
                        <p class="location" style="text-align:center;">Wagner College</p>
                        <p class="photographer" style="text-align:center;">Photo by Dillon Burke</p>
                    </div>
                </div>

                <div class="image-item hidden" data-animation-direction="up">
                    <img src="../static/gallery_photos/DANCE 2.jpg"/>

                    <div class="img-content">
                        <h1 class="gallery-photo-title" style="text-align:center;">Plano</h1>
                        <p class="location" style="text-align:center;">Wagner College</p>
                        <p class="photographer" style="text-align:center;">Photo by Dillon Burke</p>
                    </div>
                </div>
            </div>

            <!-- COLUMN 2 -->
            <div class="column">
                <div class="image-item hidden" data-animation-direction="up">
                    <img src="../static/gallery_photos/GOBLIN 4.jpg"/>

                    <div class="img-content">
                        <h1 class="gallery-photo-title" style="text-align:center;">Plano</h1>
                        <p class="location" style="text-align:center;">Wagner College</p>
                        <p class="photographer" style="text-align:center;">Photo by Dillon Burke</p>
                    </div>
                </div>

                <div class="image-item hidden" data-animation-direction="up">
                    <img src="../static/gallery_photos/IMG_3102.jpg"/>

                    <div class="img-content">
                        <h1 class="gallery-photo-title" style="text-align:center;">Plano</h1>
                        <p class="location" style="text-align:center;">Wagner College</p>
                        <p class="photographer" style="text-align:center;">Photo by Dillon Burke</p>
                    </div>
                </div>

                <div class="image-item hidden" data-animation-direction="up">
                    <img src="../static/gallery_photos/Plano 5.jpg"/>

                    <div class="img-content">
                        <h1 class="gallery-photo-title" style="text-align:center;">Plano</h1>
                        <p class="location" style="text-align:center;">Wagner College</p>
                        <p class="photographer" style="text-align:center;">Photo by Dillon Burke</p>
                    </div>
                </div>

                <div class="image-item hidden" data-animation-direction="up">
                    <img src="../static/gallery_photos/Me and my girl 1.jpg"/>

                    <div class="img-content">
                        <h1 class="gallery-photo-title" style="text-align:center;">Plano</h1>
                        <p class="location" style="text-align:center;">Wagner College</p>
                        <p class="photographer" style="text-align:center;">Photo by Dillon Burke</p>
                    </div>
                </div>

                <div class="image-item hidden" data-animation-direction="up">
                    <img src="../static/gallery_photos/Woz 2.jpg"/>

                    <div class="img-content">
                        <h1 class="gallery-photo-title" style="text-align:center;">Plano</h1>
                        <p class="location" style="text-align:center;">Wagner College</p>
                        <p class="photographer" style="text-align:center;">Photo by Dillon Burke</p>
                    </div>
                </div>

                <div class="image-item hidden" data-animation-direction="up">
                    <img src="../static/gallery_photos/plano.jpg"/>

                    <div class="img-content">
                        <h1 class="gallery-photo-title" style="text-align:center;">Plano</h1>
                        <p class="location" style="text-align:center;">Wagner College</p>
                        <p class="photographer" style="text-align:center;">Photo by Dillon Burke</p>
                    </div>
                </div>
            </div>

            <!-- COLUMN 3 -->
            <div class="column">
                <div class="image-item hidden" data-animation-direction="up">
                    <img src="../static/gallery_photos/PIPPIN 4.jpg"/>

                    <div class="img-content">
                        <h1 class="gallery-photo-title" style="text-align:center;">Plano</h1>
                        <p class="location" style="text-align:center;">Wagner College</p>
                        <p class="photographer" style="text-align:center;">Photo by Dillon Burke</p>
                    </div>
                </div>

                <div class="image-item hidden" data-animation-direction="up">
                    <img src="../static/gallery_photos/IMG_8335.jpg"/>

                    <div class="img-content">
                        <h1 class="gallery-photo-title" style="text-align:center;">Plano</h1>
                        <p class="location" style="text-align:center;">Wagner College</p>
                        <p class="photographer" style="text-align:center;">Photo by Dillon Burke</p>
                    </div>
                </div>

                <div class="image-item hidden" data-animation-direction="up">
                    <img src="../static/gallery_photos/Plano 2.jpg"/>

                    <div class="img-content">
                        <h1 class="gallery-photo-title" style="text-align:center;">Plano</h1>
                        <p class="location" style="text-align:center;">Wagner College</p>
                        <p class="photographer" style="text-align:center;">Photo by Dillon Burke</p>
                    </div>
                </div>

                <div class="image-item hidden" data-animation-direction="up">
                    <img src="../static/gallery_photos/MAMG 3.jpg"/>

                    <div class="img-content">
                        <h1 class="gallery-photo-title" style="text-align:center;">Plano</h1>
                        <p class="location" style="text-align:center;">Wagner College</p>
                        <p class="photographer" style="text-align:center;">Photo by Dillon Burke</p>
                    </div>
                </div>

                <div class="image-item hidden" data-animation-direction="up">
                    <img src="../static/gallery_photos/PIPPIN 3.jpg"/>

                    <div class="img-content">
                        <h1 class="gallery-photo-title" style="text-align:center;">Plano</h1>
                        <p class="location" style="text-align:center;">Wagner College</p>
                        <p class="photographer" style="text-align:center;">Photo by Dillon Burke</p>
                    </div>
                </div>
            </div>

            <!-- COLUMN 4 -->
            <div class="column">
                <div class="image-item hidden" data-animation-direction="up">
                    <img src="../static/gallery_photos/Plano 3.jpg"/>

                    <div class="img-content">
                        <h1 class="gallery-photo-title" style="text-align:center;">Plano</h1>
                        <p class="location" style="text-align:center;">Wagner College</p>
                        <p class="photographer" style="text-align:center;">Photo by Dillon Burke</p>
                    </div>
                </div>

                <div class="image-item hidden" data-animation-direction="up">
                    <img src="../static/gallery_photos/PROM 1.jpg"/>

                    <div class="img-content">
                        <h1 class="gallery-photo-title" style="text-align:center;">Plano</h1>
                        <p class="location" style="text-align:center;">Wagner College</p>
                        <p class="photographer" style="text-align:center;">Photo by Dillon Burke</p>
                    </div>
                </div>

                <div class="image-item hidden" data-animation-direction="up">
                    <img src="../static/gallery_photos/PROM 1.jpg"/>

                    <div class="img-content">
                        <h1 class="gallery-photo-title" style="text-align:center;">Plano</h1>
                        <p class="location" style="text-align:center;">Wagner College</p>
                        <p class="photographer" style="text-align:center;">Photo by Dillon Burke</p>
                    </div>
                </div>

                <div class="image-item hidden" data-animation-direction="up">
                    <img src="../static/gallery_photos/WOZ 1.jpg"/>

                    <div class="img-content">
                        <h1 class="gallery-photo-title" style="text-align:center;">Plano</h1>
                        <p class="location" style="text-align:center;">Wagner College</p>
                        <p class="photographer" style="text-align:center;">Photo by Dillon Burke</p>
                    </div>
                </div>

                <div class="image-item hidden" data-animation-direction="up">
                    <img src="../static/gallery_photos/MAMG 2.jpg"/>

                    <div class="img-content">
                        <h1 class="gallery-photo-title" style="text-align:center;">Plano</h1>
                        <p class="location" style="text-align:center;">Wagner College</p>
                        <p class="photographer" style="text-align:center;">Photo by Dillon Burke</p>
                    </div>
                </div>

                <div class="image-item hidden" data-animation-direction="up">
                    <img src="../static/gallery_photos/GOBLIN 3.jpg"/>

                    <div class="img-content">
                        <h1 class="gallery-photo-title" style="text-align:center;">Plano</h1>
                        <p class="location" style="text-align:center;">Wagner College</p>
                        <p class="photographer" style="text-align:center;">Photo by Dillon Burke</p>
                    </div>
                </div>
            </div>
        </div>

    </div>

	<script>

		window.onload = function() {
			setTimeout(function() {
				let observerOptions = {
					rootMargin: '0px 0px 0px 0px',
					threshold: 0.5
				};
				
				function observerCallback(entries, observer) {
					entries.forEach(entry => {
						if(entry.isIntersecting) {
							let direction = entry.target.dataset.animationDirection;
							let animationClass = `animate-${direction}`;
							entry.target.classList.add(animationClass);
							observer.unobserve(entry.target);
						}
					});
				};
		
				let observer = new IntersectionObserver(observerCallback, observerOptions);
				
				let target = '.hidden';
				document.querySelectorAll(target).forEach((i) => {
					observer.observe(i);
				});
			}, 100);
		};
		
	</script>

{% endblock content %}