{% extends "navbar.html" %}


{% block content %}
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/home.css')}}">
	<script src="{{ url_for('static', filename='javascript/home.js') }}"></script>

	<div class='desktop bottom-margin'>
		<div class="row">
			<div class="col" style="flex: 2">
				<img class="img-fluid desktop-img" 
				src="../static/headshots/home picture.jpg">
			</div>

			<div class="col">
				<div class="right-col" id="home-text">
					<div class="first-name">Emily</div>
					<div class="last-name">Durkin</div>
					<div class="desc">Actor | Dancer | Singer</div>
				</div>
			</div>
		</div>
	</div>

	<div class='mobile top-margin bottom-margin'>
		<div class="vertical-center">
			<img class="mt-5 img-home-mobile" src="../static/headshots/home picture.jpg">
		</div>

		<div class="vertical-center">
			<div class="txt-home-mobile">
				<div class="name mb-3">Emily</div>
				<div class="name mb-3">Durkin</div>
				<div class="desc">Actor | Dancer | Singer</div>
				<button class="btn btn-about-me mt-3">
					<a class="about-me-link" href="{{ url_for('about') }}">ABOUT ME</a>
				</button>
			</div>
		</div>
	</div>

{% endblock content %}
