{% extends "navbar.html" %}


{% block content %}
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/media.css')}}">
  
  <div class='top-margin bottom-margin'>
    <div class="row row-media">
      <iframe class="video col-sm-8 col-md-12 col-xl-6 mb-3"
        src="https://www.youtube.com/embed/FWsuB2xbAf0?si=Cznobnv6bJYV4r7q" 
        frameborder="0" 
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
        referrerpolicy="strict-origin-when-cross-origin" 
        allowfullscreen>
      </iframe>

      <iframe class="video col-sm-8 col-md-12 col-xl-6 mb-3" 
        src="https://www.youtube.com/embed/bphU-QpFAuA?si=m4EEcb3xCnag_Yfo"
        frameborder="0" 
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
        referrerpolicy="strict-origin-when-cross-origin" 
        allowfullscreen>
      </iframe>

      <iframe class="video col-sm-8 col-md-12 col-xl-6 mb-3" 
        src="https://www.youtube.com/embed/k6N2BvtPodo?si=T9j-5bY_xYLqtZxR"
        frameborder="0" 
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
        referrerpolicy="strict-origin-when-cross-origin" 
        allowfullscreen>
      </iframe>

      <iframe class="video col-sm-8 col-md-12 col-xl-6 mb-3" 
        src="https://www.youtube.com/embed/dAohqxJi3gQ?si=zsxpCc5WOWc65vPs"
        frameborder="0" 
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
        referrerpolicy="strict-origin-when-cross-origin" 
        allowfullscreen>
      </iframe>
    </div>

    <div class="mt-3 vertical-center">
      <p class="rounded-3 box-coming-soon pt-2 pb-2">
       Dance Reel Coming Soon!
      </p>
    </div>
    
  </div>
{% endblock content %}